form {
  box-sizing: border-box;
  padding: 2rem;
  border-radius: 1rem;
  background-color: hsl(0, 0%, 100%);
  border: 4px solid hsl(0, 0%, 90%);
  width: 40%;
  gap: 2rem;
  margin: 0 auto;
  text-align: center;
  font-size: 17px;
}

h2 {
  text-align: center;
  font-size: 38px;
  font-weight: 600;
}

body {
  background-color: hsl(0, 0%, 98%);
  color: #333;
  font-family: 'Figtree', sans-serif;
}

input {
  width: 400px;
  padding: 20px;
  margin: 3px;
  border-radius: 5px;
  border: 1px solid rgb(59, 59, 59);
}

.btn {
  width: 15%;
  border: none;
  border-radius: 20px;
  background-color: rgb(75, 119, 240);
  color: white;
  font-weight: 600;
  font-size: 16px;
  padding: 8px 3px;
  font-family:Arial, Helvetica, sans-serif;
}

.btn:hover {
  cursor: pointer;
  opacity: 90%;
}

.form-below {
  position: relative;
}

.suggestions {
  z-index: 999;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  margin-top: -4px;
  text-align: center;
  width: 390px;
  list-style: none;
  background-color: white;
  padding: 0;
  border-radius: 6px;
  box-shadow: 1px 1px rgb(142, 167, 236), -1px 1px rgb(142, 167, 236);
}

li {
  padding: 10px;
}

.active:hover {
  background-color: rgb(235, 231, 231);
}



@media screen and (min-width: 800px) and (max-width: 1100px) {
  form {
    width: 60%;
  }

  .suggestions {
    width: 350px;
  }

  input {
    width: 360px;
  }

  .btn {
    width: 40%;
  }
}

@media screen and (max-width: 800px) {
  .suggestions {
    width: 250px;
  }

  input {
    width: 260px;
  }
  form {
    width: 80%;
  }
  .btn {
    width: 40%;
  }
}
